<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#f06882">
  <title>Мудрая Панда отзывы</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  <script defer src="app.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
</head>
<body>
  <div id="app">
    <div class="header">
        <div class="logo"></div>
        <h1>Мудрая Панда отзывы
            <span></span>
        </h1>
    </div>
    
    <div class="gallery">

      <img v-for="image in paginatedImages" :key="image" :src="`images/${image}.png`" 
           alt="Идет загрузка" @click="showImage(image)">
    </div>

    <div class="contacts">

        <a href="https://t.me/pand_student" class="tg" target="_blank"></a>

        <a href="https://vk.com/pandastudent" class="vk" target="_blank"></a>

        <a href="https://wa.me/79537819939" class="wh" target="_blank"></a>
        
    </div>

    <div class="pagination">
      <button @click="prevPage" :disabled="currentPage === 1">Предыдущая</button>
      <button @click="nextPage" :disabled="currentPage === totalPages">Следующая</button>
    </div>

    <!-- Popup Modal -->
    <div v-if="showModal" class="modal" @click="closeModal">
      <div class="modal-content" @click.stop>
        <img :src="`images/${currentImage}.png`" :alt="`Image ${currentImage}`" @click="closeModal">
      </div>
    </div>

  </div>
</body>
</html>
